<h3>Pendu</h3>

<button @onclick="GameInit">
    Start Game!
</button>


<h2>Your Choice</h2>

@if (lifePoints > 0 && !isWin)
{
    @foreach (KeyValuePair<char, bool> letter in lettersDict)
    {
        <button value="@letter.Key"
                hidden="@(!letter.Value)"
                @onclick="() => LetterChoice(letter.Key)">
            @letter.Key
        </button>
    }
    <br /> 
    <br /> 
    <br />
    @foreach (KeyValuePair<char, bool> letter in lettersUsed)
    {
        <button value="@letter.Key">
            @letter.Key
        </button>
    }
}



<h2>Secter Word </h2>

@if(lifePoints > 0 && isWin)
{
    <h1>Win!!!</h1>
}

@if(lifePoints > 0)
{
    <h3>Life Points: @lifePoints</h3>
    @foreach (PenduEntity hiddenLetter in secretWord)
    {
        <button>
            @(hiddenLetter.isHidden ? "*" : hiddenLetter.letter)

        </button>
    }
}
else{
    {
        <h3>Game over!</h3>
        <h2>Word: @penduWord</h2>
     
    }
}



@code {
    const int LIFE_POINTS = 10;

    private List<string> words = new List<string>
    {
        "apple", "grape", "lemon", "mango", "peach",
        "berry", "melon", "olive", "plumb", "chili",
        "bread", "chair", "clock", "glass", "table",
        "light", "plant", "river", "stone", "water",
        "beach", "cloud", "earth", "field", "grass",
        "house", "music", "night", "ocean", "queen",
        "scale", "sheep", "smile", "snake", "sound",
        "spoon", "storm", "sugar", "sword", "tiger",
        "train", "watch", "whale", "wheat", "world",
        "zebra", "crown", "flame", "fruit", "money"
    };
    private string? penduWord;
    private bool isWin = false;
    private char letterToTest;
    private int lifePoints = LIFE_POINTS;
    private Dictionary<char, bool> lettersDict = new Dictionary<char, bool>
        {
            { 'A', true },
            { 'B', true },
            { 'C', true },
            { 'D', true },
            { 'E', true },
            { 'F', true },
            { 'G', true },
            { 'H', true },
            { 'I', true },
            { 'J', true },
            { 'K', true },
            { 'L', true },
            { 'M', true },
            { 'N', true },
            { 'O', true },
            { 'P', true },
            { 'Q', true },
            { 'R', true },
            { 'S', true },
            { 'T', true },
            { 'U', true },
            { 'V', true },
            { 'W', true },
            { 'X', true },
            { 'Y', true },
            { 'Z', true }
        };
    private Dictionary<char, bool> lettersUsed = new();
    private List<PenduEntity> secretWord = new();



    private void GameInit()
    {
        string _hiddenWord = words[Random.Shared.Next(50)];
        penduWord = _hiddenWord;

        secretWord.Clear();
        foreach (char letter in _hiddenWord)
        {
            secretWord.Add(new(char.ToUpper(letter), true));
        }

        isWin = false;
        lettersUsed.Clear();
        lifePoints = LIFE_POINTS;
        foreach (char key in lettersDict.Keys.ToList())
        {
            lettersDict[key] = true;
        }

    }

    private void LetterChoice(char letter)
    {
        letterToTest = letter;
        RemoveLifePoints(CheckLetter(letter));
        isWin = GameWin();

        lettersUsed.Add(letter ,lettersDict[letter]);
        lettersDict[letter] = !lettersDict[letter];
    }

    private bool CheckLetter(char letter)
    {
        bool isLetterExist = false;

        for(int i = 0; i < secretWord.Count; i++)
        {
            if (secretWord[i].letter == letter)
            {
                secretWord[i].isHidden = !secretWord[i].isHidden;
                isLetterExist = true;
            }
        }

        return isLetterExist;

    }

    private void RemoveLifePoints(bool isLetterExist)
    {
        if (!isLetterExist)
            lifePoints--;
    }

    private bool GameWin()
    {
        bool isWin = true;

        for (int i = 0; i < secretWord.Count; i++)
        {
            if (secretWord[i].isHidden == true)
            {
                return false;
            }
        }

        return isWin;
    }



    private class PenduEntity
    {
        public PenduEntity(char letter, bool isHidden)
        {
            this.letter = letter;
            this.isHidden = isHidden;
        }

        public char letter { get; set; }
        public bool isHidden { get; set; }
    }



    



}
